--
-- PostgreSQL database dump
--

\restrict 79cbPbhyTzFHQVmWqef34HlvFAd2VwXwNb3w0mBS6fhvMddCOVznUF3aQ3NoZth

-- Dumped from database version 15.18 (Debian 15.18-1.pgdg13+1)
-- Dumped by pg_dump version 15.18 (Debian 15.18-1.pgdg13+1)

SET statement_timeout = 0;
SET lock_timeout = 0;
SET idle_in_transaction_session_timeout = 0;
SET client_encoding = 'UTF8';
SET standard_conforming_strings = on;
SELECT pg_catalog.set_config('search_path', '', false);
SET check_function_bodies = false;
SET xmloption = content;
SET client_min_messages = warning;
SET row_security = off;

--
-- Name: pgcrypto; Type: EXTENSION; Schema: -; Owner: -
--

CREATE EXTENSION IF NOT EXISTS pgcrypto WITH SCHEMA public;


--
-- Name: EXTENSION pgcrypto; Type: COMMENT; Schema: -; Owner: 
--

COMMENT ON EXTENSION pgcrypto IS 'cryptographic functions';


SET default_tablespace = '';

SET default_table_access_method = heap;

--
-- Name: booking_events; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.booking_events (
    id bigint NOT NULL,
    booking_id uuid NOT NULL,
    event_type character varying(100) NOT NULL,
    payload jsonb,
    created_at timestamp without time zone NOT NULL
);


ALTER TABLE public.booking_events OWNER TO postgres;

--
-- Name: booking_events_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

CREATE SEQUENCE public.booking_events_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER TABLE public.booking_events_id_seq OWNER TO postgres;

--
-- Name: booking_events_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: postgres
--

ALTER SEQUENCE public.booking_events_id_seq OWNED BY public.booking_events.id;


--
-- Name: hotel_bookings; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.hotel_bookings (
    id uuid NOT NULL,
    org_id uuid NOT NULL,
    hotel_id character varying(100) NOT NULL,
    city character varying(100) NOT NULL,
    checkin_date date NOT NULL,
    checkout_date date NOT NULL,
    amount numeric(12,2) NOT NULL,
    status character varying(50) NOT NULL,
    created_at timestamp without time zone NOT NULL
);


ALTER TABLE public.hotel_bookings OWNER TO postgres;

--
-- Name: booking_events id; Type: DEFAULT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.booking_events ALTER COLUMN id SET DEFAULT nextval('public.booking_events_id_seq'::regclass);


--
-- Data for Name: booking_events; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Data for Name: hotel_bookings; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Name: booking_events_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.booking_events_id_seq', 50, true);


--
-- Name: booking_events booking_events_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.booking_events
    ADD CONSTRAINT booking_events_pkey PRIMARY KEY (id);


--
-- Name: hotel_bookings hotel_bookings_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.hotel_bookings
    ADD CONSTRAINT hotel_bookings_pkey PRIMARY KEY (id);


--
-- Name: idx_hotel_bookings_city_created_org_status; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX idx_hotel_bookings_city_created_org_status ON public.hotel_bookings USING btree (city, created_at, org_id, status);


--
-- PostgreSQL database dump complete
--

\unrestrict 79cbPbhyTzFHQVmWqef34HlvFAd2VwXwNb3w0mBS6fhvMddCOVznUF3aQ3NoZth

